html {
    margin: 0;
    padding: 0;
    background: white;
}

body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    height: 100%;
    width: 100%;
    min-height: 100%;
    font-size: 15px;
    line-height: normal;
    padding: 0;
}

section#main {
    margin-top: 5px;
    margin-left: 20px;
    margin-right: 20px;
    max-width: 900px;
}

#main {
    overflow: auto;
    min-height: 100%;
    padding-bottom: 60px;

}

header {
    font-size: 16pt;
    color: white;
    height: 55px;
    line-height: 55px;
    background-color: #F83611;
    background: #F83611 url('../images/sogeti.png') no-repeat center right 25px;
    text-align: left;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
    width: 100%;
}

#header-logo {
    padding-top: 15px;
    padding-bottom: 15px;
}

footer {
    clear: both;
    position: relative;
    height:60px;
    font-size: 9pt;
    margin-left: 20px;
    color: gray;
}

p {
    margin-left: .5in;
}

pre {
    white-space: pre-wrap;
}

h1 {
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, sans-serif; 
    font-weight: 300;
    font-size: 20pt;
    display: block;
    border-bottom: 1px solid black;
    color: #2C3E50;
}

h2 {
    margin-left: 0.25in;
    margin-bottom: 0.1in;
    font-size: 16pt;
    font-weight: 400;
    color: #3498DB;
}

h3 {
    margin-left: 0.5in;
    margin-bottom: 0.1in;
    font-size: 14pt;
}

h4 {
    margin-left: .75in;
    margin-bottom: 0.1in;
    font-size: 12pt;
}

h5 {
    margin-left: 1in;
    margin-bottom: 0.1in;
    font-size: 10pt;
}

/*
table { 
    width: 80%%; 
    margin-left: .1in;
    border-collapse: collapse; 
}

tr:nth-of-type(odd) { 
    background: #eee; 
}

th { 
    background: #333; 
    color: white; 
    font-weight: bold; 
}

td, th { 
    padding: 6px; 
    border: 1px solid #ccc;
    text-align: left; 
}
*/

img {
    clear: both;
    display: block;
    margin-top: 0.1in;
    margin-bottom: 0.1in;
    margin-left: 1in;
}

ol,dl,ul,p {
    line-height: 1.5;
}

strong, b {
    font-family: "Helvetica Neue Bold", "Helvetica Bold", sans-serif;
    font-weight: bold;
}

strong > 0 {
    font-weight: bold;
}

em {
    font-style: italic;
}

ol,dl,ul {
    margin-left: .25in;
}

a { 
    cursor: pointer;
}

a:link, a:visited {
    color: #186ac1;
}


a:hover {
    color: #3697ff;
}

.wsblock {
    border: 1px solid #c0c0c0;
    padding: 5px;
    margin-left: .5in;
    margin-top: -12px;
    margin-bottom: .1in;
    background-color: #fcfcfc;
}

.wsblock .wsitem {
    margin-left: 0;
}

.wsblock .codeblock {
    margin-left: .25in;
    margin-right: .25in;
}

.wslist>a {
    white-space: nowrap;
    display: block;
    margin-left: .5in;
    margin-top: 0;
    line-height: 1.5;
}

.wsitem {
    margin-left: .5in;
    line-height: 1.5; 
    display: block;
    margin-bottom: .2in;
}

.wsitem>ol {
    margin-top: 5px;
    margin-left: 0in;
}

.wsitem>p {
    margin-top: 5px;
    margin-left: .1in;
}

.wsitem>ul {
    margin-top: 5px;
    margin-left: 0in;
}

.indent-none {
    margin-left: 0;
}

.indent-large {
    margin-left: .75in;
}

.indent-small {
    margin-left: .25in;
}

.indent-medium {
    margin-left: .5in;
}

.spacing-top {
    margin-top: .75in;
}

.spacing-bottom { 
    margin-bottom: .75in;
}

.codeblock {
    border: 1px solid #c0c0c0;
    background: #f0f0f0;
    padding: 5px;
    margin-top: .1in;
    margin-bottom: .1in;
}

.hintblock {
    border: 1px solid #EAC117;
    background: #FFFFE2;
    padding: 5px;
    margin-top: .1in;
    margin-left: .25in;
    margin-right: .25in;
    margin-bottom: .1in;
}

.uiitem {
    background: #f0f0f0;
    padding: 3px 4px;
    border-radius: 3px;
    border: thin solid rgba(0, 0, 0, 0.2);
    color: inherit;
}

.objective {
    font-size: 12pt;
    font-weight: bold;
    margin-left: 0;
    margin-top: .1in;
}

a.uiitem {
    text-decoration: none;
}

.align-right {
    clear: both;
    float: right;
    margin-top: 50px;
    margin-right: 10px;
}

table.grid {
    margin-top: 1em;
    color:#333333;
    border-width: 1px;
    border-color: #909090;
    border-collapse: collapse;
}

table.grid th {
    border-width: 1px;
    padding: 8px;
    text-align: left;
    border-style: solid;
    border-color: #909090;
    background-color: #dedede;
    font-weight: bold;
}

table.grid td {
    border-width: 1px;
    padding: 8px;
    border-style: solid;
    border-color: #909090;
}

table.grid td table tr {
    background-color: transparent;
}

table.grid td table tr td {
    border-style: none;
}

.oddrowcolor {
    background-color:#ffffff;
}

.evenrowcolor {
    background-color:#f0f0f0;
}

.highlight {
  background-color: #ff0;
}

/* For prettify */ 
.com       { color: #008000; }
.str, .tag { color: #A31515; }
.kwd, .atv { color: #0000FF; }
.typ       { color: #2B91AF; }
.lit, .atn { color: #FF0000; }
.pun, .pln { color: #000000; }
.dec       { color: #800080; }

pre.prettyprint{
    width: auto;
    margin-right: 50px;
    overflow: auto;
    max-height: 600px;
    padding: 8px;
}

#ide-selector {
    font-size: 14px;
    text-align: left;
    margin-left: 10px;
}

#ide-selector a {
    display: inline-block;
    color: #1faece;
    text-decoration: none;
    text-transform: uppercase;
    margin-right: 6px;
    position: relative;
}

#ide-selector a.active {
    color: #365271;
    border-bottom: 2px solid #889db5;
}

