<?xml version="1.0" encoding="utf-8"?>
<LinearLayout xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:local="http://schemas.android.com/apk/res-auto"
    android:orientation="horizontal"
    android:paddingLeft="10dp"
    android:layout_width="match_parent"
    android:layout_height="70dp">
    <ImageView
        android:id="@+id/imageView"
        android:layout_width="80dp"
        android:layout_height="match_parent"
        local:MvxBind="DrawableName HeadshotUrl" />
    <LinearLayout
        android:layout_marginLeft="5dp"
        android:layout_width="match_parent"
        android:layout_height="match_parent"
        android:orientation="vertical">
        <TextView
            android:text="Name"
            android:layout_height="0dp"
            android:layout_weight="1"
            android:gravity="center|left"
            android:textStyle="bold"
            android:textSize="20dp"
            android:layout_width="match_parent"
            local:MvxBind="Text Name" />
        <TextView
            android:text="Email"
            android:layout_height="0dp"
            android:layout_weight="1"
            android:gravity="center|left"
            android:textSize="20dp"
            android:layout_width="match_parent"
            local:MvxBind="Text Email" />
    </LinearLayout>
</LinearLayout>